Repository hzluting/arctic, pull requests merged in 2022-11, with the labels that each got.

#2 remove template definition form IcebergContentFile
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
  core/src/main/java/com/netease/arctic/utils/SerializationUtil.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/NodeTask.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutor.java
Labels: module:core

#4 refactor optimize executor
  core/src/main/java/com/netease/arctic/scan/ReuseIcebergScanTask.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/ExecutorFactory.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergMajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergMinorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MinorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/NodeTask.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/OptimizeTaskResult.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutorBase.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergMinorExecutor.java
Labels: module:core

#6 add more SequenceNumberFetcherTest
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcherTest.java
Labels: module:ams, module:dashboard

#7 Improve iceberg optimize
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  core/pom.xml
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
  core/src/main/java/com/netease/arctic/data/RecordWithLsn.java
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/iceberg/optimize/InternalRecordWrapper.java
  core/src/main/java/com/netease/arctic/io/reader/BaseReuseIcebergDataReader.java
  core/src/main/java/com/netease/arctic/io/reader/DataReaderCommon.java
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
  core/src/main/java/com/netease/arctic/io/writer/NoFanOutPosDeleteWriter.java
  core/src/main/java/com/netease/arctic/scan/CombinedIcebergScanTask.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/BaseTaskExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/NodeTask.java
Labels: module:ams, module:dashboard, module:core, type:build

#8 refactor ManifestReader to TableEntriesScan
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcher.java
  core/src/main/java/com/netease/arctic/ManifestEntry.java
  core/src/main/java/com/netease/arctic/scan/BaseChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
  core/src/test/java/com/netease/arctic/scan/TableEntriesScanTest.java
Labels: module:ams, module:dashboard, module:core

#10 Improve iceberg optimize
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
  core/src/main/java/com/netease/arctic/io/writer/NoFanOutPosDeleteWriter.java
  core/src/test/java/com/netease/arctic/IcebergTableBase.java
  core/src/test/java/com/netease/arctic/io/ArcticFileIoDummy.java
  core/src/test/java/com/netease/arctic/io/GenericCombinedIcebergDataReaderTest.java
Labels: module:core

#9 iceberg minor optimize only return tasks with at least 2 files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
Labels: module:ams, module:dashboard

#11 Implement iceberg optimize executor
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
  core/src/main/java/com/netease/arctic/io/writer/IcebergFanoutPosDeleteWriter.java
  core/src/main/java/com/netease/arctic/scan/CombinedIcebergScanTask.java
  optimizer/src/main/java/com/netease/arctic/optimizer/local/LocalOptimizer.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/BaseTaskExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/Executor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/ExecutorFactory.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergMajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergMinorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MinorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/NodeTask.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/OptimizeTaskResult.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutorBase.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergMinorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestMajorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestMinorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestSupportHiveMajorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/util/ContentFileUtil.java
Labels: module:core

#12 Add iceberg combined read/write
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/scan/CombinedIcebergScanTask.java
  core/src/test/java/com/netease/arctic/IcebergTableBase.java
  core/src/test/java/com/netease/arctic/io/GenericCombinedIcebergDataReaderTest.java
Labels: module:core

#14 Improve iceberg optimize
  core/src/test/java/com/netease/arctic/IcebergTableBase.java
  core/src/test/java/com/netease/arctic/io/GenericCombinedIcebergDataReaderTest.java
Labels: module:core

#15 add native iceberg test case into OptimizeIntegrationTest
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
Labels: module:ams, module:dashboard

#16 close writer/reader safely in iceberg optimize executor
  core/src/main/java/com/netease/arctic/io/writer/IcebergFanoutPosDeleteWriter.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
Labels: module:core
